.circleProgress_wrapper {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #ffff;
  border-radius: 50%;
  text-align: center;
  line-height: 400rpx;
}
.Triangle {
  width: 30px;
  height: 30px;
  z-index: 99;
}
.circleProgress {
  width: 160px;
  height: 160px;
  border: 20px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
}
.wrapper {
  width: 100px;
  height: 200px;
  position: absolute;
  top: 0;
  overflow: hidden;
}
.right {
  right: 0;
}
.left {
  left: 0;
}

.rightcircle {
  border-top: 20px solid #578095;
  border-right: 20px solid #578095;
  right: 0;
}
.leftcircle {
  border-bottom: 20px solid #578095;
  border-left: 20px solid #578095;
  left: 0;
}
