.container{
  position:relative;
  width:200px;
  height:195px; 
  margin:5px auto;
}
.box{
  position:absolute;
  background:#ffff;
  width:25px;
  height:25px;
  font-size:24px;
  font-family:SourceHanSansCN-Regular,SourceHanSansCN;
  font-weight:400;
  color:rgba(140,201,189,.49);
  line-height:25px;
  text-align: center;
}
.dot{ 
  position:absolute;
  width:80px;
  height:80px;
  text-align: center;
  background:#ffff;
  font-size:30px;
  font-family:SourceHanSansCN-Bold,SourceHanSansCN;
  font-weight:bold;
  color:rgba(140,201,189,1);
  line-height:72px;
}
.actived{
  color:#8CC9BD !important;
}