@images: "../../assets";

.body{
  height: 100vh;
}
.ImgDiv{
  margin-top: 20px
}

.badgeDiv{
  width:375px;
  height:603px;
  display: inline-block;
  background: url('@{images}/badges9.png') no-repeat;;
}
.centerStyle{
  text-align: center;
}

.leftStyle{
  margin-right: 100px;
  margin-top: -64px;

}
.rightStyle{
  margin-left: 100px;
  margin-top: 4px;
}
.badge{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-size: 100% 100%;
  background-size: cover;
  display: inline-block;
}


.toplife_modal{
  position:fixed;
  top: 0;right: 0;left: 0;bottom: 0;
  background:rgba(0,0,0,0.8);
  z-index: 99;
}

.toplife_modal_content{
  width:200px;
  height:200px;
  background:rgba(255,255,255,1);
  border-radius:50%;
  position:absolute;
  margin:auto;
  z-index:1;
  top: 0;right: 0;left: 0;bottom: 0;
  .badge{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-size: cover;
    display: inline-block;
  }
}



.flex {
  display: flex;

  &.j-center {
      justify-content: center;
  }

  &.j-between {
      justify-content: space-between;
  }

  &.j-around {
      justify-content: space-around;
  }

  &.j-start {
      justify-content: flex-start;
  }

  &.j-end {
      justify-content: flex-end;
  }

  &.a-start {
      align-items: flex-start;
  }

  &.a-center {
      align-items: center;
  }

  &.a-end {
      align-items: flex-end;
  }

  &.center {
      align-items: center;
      justify-content: center;
  }

  &.s-around {
      align-items: space-around;
  }

  &.s-between {
      align-items: space-between;
  }

  &.column {
      flex-direction: column;
  }

  &.row {
      flex-direction: row;
  }

  &.wrap {
      flex-wrap: wrap;
  }
}