.contain{
  height: 100vh;
  .played{
    .head{
      background: url('assets/top-bg.png');
      background-size: cover;
      width: 375px;
      .mind{

      }
    }
    .topSign{
      margin: 0 auto;
      margin-top: 75px;
      display: block;
    }
    .iconImg{
      width: 36px;
      height: 36px;
    }
    .endText{
      margin: 0 auto;
      margin-top: 38px;
      display: block;
      text-align: center;
    }
    .bottomSign{
      margin: 0 auto;
      margin-top: 41px;
      display: block;
    }
    .shareImg{
      display: block;
      width: 61px;
      height: 61px;
      margin: 0 auto;
      margin-top: 76px;
      margin-bottom: 28px;
    }
  }
  .playing{
    
  }
}

