.contain{
  .left{
    .avatarUrl{
      width: 55px;
      height: 55px;
    }
  }
  .right{
    .name{
      width:55px;
      height:14px;
      font-size:14px;
      font-family:SourceHanSansCN-Regular,SourceHanSansCN;
      font-weight:400;
      color:rgba(74,74,74,1);
      line-height:21px;
    }
    .text1{
      width:256px;
      height:60px;
      font-size:15px;
      font-family:SourceHanSansCN-Regular,SourceHanSansCN;
      font-weight:400;
      color:rgba(0,0,0,1);
      line-height:20px;
      letter-spacing:1px;
    }
    .dayText{
      width:69px;
      height:17px;
      font-size:13px;
      font-family:SourceHanSansCN-ExtraLight,SourceHanSansCN;
      font-weight:200;
      color:rgba(0,0,0,1);
      line-height:17px;
    }
  }
}