.greeting{
  margin-left: 33px;

  .format, .name{
    width:227px;
    height:28px;
    font-size:28px;
    font-family:SourceHanSansCN-Medium,SourceHanSansCN;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:42px;
  
  }
  .enName{
    display: inline-block;
    min-width:205px;
    font-size:13px;
    font-family:SourceHanSansCN-Light,SourceHanSansCN;
    font-weight:300;
    color:rgba(0,0,0,1);
    line-height:20px;
    letter-spacing:1px;
  }
}
