.home {
  height: 100vh;
}
.head{
  margin: 10px 33px;
}
.aliasImg::after{
  border:none;
}
.aliasImg{
  background-color: #fff;
  border-radius:0;
  display: inline-block;
  padding: 0;
  font-size: 0px;
}
.img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.pageSectionSpacing {
  margin-top: 60rpx;
  .scrollview{
    height: 483px;
    padding: 0 20px;
  }
  .vStyleA {
    width: 286px;
    height: 483px;
    background-size: cover;
    background: url('../../assets/home1.png') no-repeat;
    display: inline-block;
    position: relative;
  }

  .mindName{
    margin: 34px 23px;
    position: absolute;
    height:48px;
    font-size:32px;
    font-family: 'SourceHanSansCN-Bold,SourceHanSansCN';
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:48px;
    letter-spacing:1px;
  }
  .mindInfo{
    top: 82px;
    margin: 12px 23px;
    width: 240px;
    position: absolute;
    height:46px;
    font-size:18px;
    font-family:SourceHanSansCN-Regular,SourceHanSansCN;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height: 28px;
/*     word-break: break-all;  */
    white-space: pre-wrap;
  }
  .vStyleB {
    width: 286px;
    height: 483px;
    display: inline-block;
    background-size: cover;
    background: url('../../assets/home2.png') no-repeat
  }

  .vStyleC {
    width: 286px;
    height: 483px;
    display: inline-block;
    background-size: cover;
    background: url('../../assets/home3.png') no-repeat
  }
}

.scroll-view_H {
  white-space: nowrap;
}

.scroll-view-item {
  height: 300rpx;
}

.scroll-view-item_H {
  display: inline-block;
  width: 100%;
  height: 300rpx;
  margin-left: 44px;
}

.greeting{
  width:227px;
  font-size:28px;
  font-family:SourceHanSansCN-Medium,SourceHanSansCN;
  font-weight:500;
  color:rgba(0,0,0,1);
  line-height:42px;
  margin-left: 33px;

}