
.navbar{
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: black;
  position: relative;
}
.iconText{
  height:20px;
  width: 13px;
  font-size:18px;
  font-family:ArialMT;
  color:rgba(0,0,0,1);
  position: absolute;
  left: 34px;
}

.iconImg{
  width: 13px;
  height: 20px;
  position: absolute;
  filter: invert(100%);
  line-height: 20px;
  text-align: center;
  left: 34px;
  bottom: 10px;
}